.animated-signature #main-stroke {
  stroke-dasharray: 3873;
  stroke-dashoffset: 3873;
  fill: transparent;
  animation: drawSignature 8s linear infinite both;
  stroke: theme('textColor.primary');
}

@keyframes drawSignature {
  0% {
    stroke-dashoffset: 3873;
  }

  15% {
    fill: transparent;
  }

  35%,
  75% {
    stroke-dashoffset: 0;
    fill: transparent;
  }

  90%,
  to {
    stroke-dashoffset: 3873;
    fill: transparent;
  }
}
